.header {
    padding: 45px 0;
    background: #7E0019;
    color: #fff;
    .mainHeader {
        display: flex;
        justify-content: space-between;
        .title {
            font-size: 25px;
            font-weight: 700;
        }
        nav {
            a {
                margin-left: 35px;
                font-size: 18px;
                font-weight: 400;
                color: #fff;
                &.active {
                    text-decoration: underline;

                }
                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }
}